n8n-guia-skills.json
{
  "name": "Upfunnel — Entrega material (webhook multi-recurso)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guia-skills",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://recursos.upfunnel.click",
          "ignoreBots": true,
          "rawBody": false
        }
      },
      "id": "webhook",
      "name": "Webhook — form de la página",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        300
      ],
      "webhookId": "upfunnel-guia-skills"
    },
    {
      "parameters": {
        "jsCode": "const salida = [];\n\nfor (const item of $input.all()) {\n  const b = item.json.body ?? item.json;\n\n  const nombre   = String(b.nombre   ?? '').trim().slice(0, 80);\n  const whatsapp = String(b.whatsapp ?? '').trim();\n  const correo   = String(b.correo   ?? '').trim().toLowerCase();\n  const trampa   = String(b.web      ?? '').trim();\n  const recurso  = String(b.recurso  ?? 'guia-skills').trim();\n\n  const formatoOk = /^[^\\s@]+@[^\\s@]+\\.[a-z]{2,}$/i.test(correo);\n\n  const desechables = ['mailinator.com','tempmail.com','10minutemail.com','guerrillamail.com','yopmail.com','trashmail.com','sharklasers.com'];\n  const dominio = correo.split('@')[1] || '';\n  const esDesechable = desechables.includes(dominio);\n\n  const soloDigitos = whatsapp.replace(/\\D/g, '');\n  const whatsappOk = soloDigitos.length >= 7 && soloDigitos.length <= 15;\n\n  const esBot = trampa.length > 0;\n\n  const valido = Boolean(nombre) && formatoOk && !esDesechable && whatsappOk && !esBot;\n\n  let motivo = '';\n  if (esBot)             motivo = 'bot';\n  else if (!nombre)      motivo = 'Escribe tu nombre.';\n  else if (!formatoOk)   motivo = 'Ese correo no tiene un formato válido.';\n  else if (esDesechable) motivo = 'Usa un correo real: ahí es donde te llega el material.';\n  else if (!whatsappOk)  motivo = 'Revisa el número de WhatsApp.';\n\n  salida.push({\n    json: {\n      nombre,\n      whatsapp: soloDigitos ? '+' + soloDigitos : '',\n      correo,\n      recurso,\n      valido,\n      motivo,\n      fecha: new Date().toISOString(),\n      origen: 'pagina-clases-upfunnel'\n    }\n  });\n}\n\nreturn salida;"
      },
      "id": "validar",
      "name": "Validar y normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-valido",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valido",
      "name": "¿Datos válidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -60,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-clase",
              "leftValue": "={{ $json.recurso }}",
              "rightValue": "clase-2026-07-18",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-clase",
      "name": "¿Es material de clase?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://recursos.upfunnel.click/material-claude-skills.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "material"
            }
          }
        }
      },
      "id": "descargar-guia",
      "name": "Traer la guía (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        440
      ]
    },
    {
      "parameters": {
        "fromEmail": "gabriel@upfunnel.click",
        "toEmail": "={{ $('Validar y normalizar').item.json.correo }}",
        "subject": "=Tu guía de Claude Skills, {{ $('Validar y normalizar').item.json.nombre }}",
        "html": "=<div style=\"font-family:Inter,Helvetica,Arial,sans-serif;font-size:15px;line-height:1.65;color:#0f172a;max-width:600px\">\n<p>Hola {{ $('Validar y normalizar').item.json.nombre }}, ¡qué bueno tenerte por acá!</p>\n\n<p>Acabas de pedir la guía, y ese ya es el paso que la mayoría no da: dejar de mirar la IA de lejos y sentarse a entender cómo se le dan instrucciones que sirvan. Yo también empecé ahí, explicándole lo mismo cada vez.</p>\n\n<p>Te la adjunto en este correo. Son 9 páginas: qué es un skill, los 3 niveles con los que Claude los carga, la fórmula de una descripción que sí se activa, las 5 reglas técnicas y un glosario.</p>\n\n<p>No es para leer y guardar. Trae campos rellenables y ejercicios: ábrela y complétala.</p>\n\n<p>👉🏻 Abre el PDF adjunto y completa el ejercicio de la página 5: la descripción de un skill que te gustaría tener.</p>\n\n<p>Las dudas se resuelven en vivo en la comunidad de WhatsApp, y ahí mismo aviso las clases de los sábados a las 8 p.m. hora Colombia:<br>\n<a href=\"https://chat.whatsapp.com/GaH7I3tUJtiHYAP8nvSEfh\" style=\"color:#0891b2;font-weight:600\">Entrar a la comunidad</a></p>\n\n<p>Si algo no te cuadra, responde este correo. Lo leo yo, no un bot.</p>\n\n<p>Un abrazo,<br><strong>Gabriel</strong> — Upfunnel<br>\n<span style=\"color:#64748b;font-size:13px\">Automatiza, reduce tu esfuerzo y potencia tus resultados.</span></p>\n</div>",
        "options": {
          "attachments": "material",
          "replyTo": "gabriel@upfunnel.click"
        }
      },
      "id": "enviar-guia",
      "name": "Enviar guía por correo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        620,
        440
      ],
      "credentials": {
        "smtp": {
          "id": "CONFIGURAR",
          "name": "SMTP Upfunnel"
        }
      }
    },
    {
      "parameters": {
        "url": "https://recursos.upfunnel.click/clases/2026-07-18/Mastering_AI_Context.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "material"
            }
          }
        }
      },
      "id": "descargar-clase-0718",
      "name": "Traer material clase 18 JUL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        160
      ]
    },
    {
      "parameters": {
        "fromEmail": "gabriel@upfunnel.click",
        "toEmail": "={{ $('Validar y normalizar').item.json.correo }}",
        "subject": "=Material de la clase del 18 de julio, {{ $('Validar y normalizar').item.json.nombre }}",
        "html": "=<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#080C14;\"><tr><td align=\"center\" style=\"padding:32px 16px;\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px;max-width:600px;\"><tr><td align=\"center\" style=\"background-color:#080C14;padding:36px 24px 28px 24px;border-radius:12px 12px 0 0;\"><img src=\"https://recursos.upfunnel.click/logo-upfunnel.png\" width=\"170\" alt=\"Upfunnel\" style=\"display:block;width:170px;max-width:170px;\"></td></tr><tr><td style=\"background-color:#FFFFFF;padding:40px 40px 8px 40px;\"><p style=\"margin:0 0 20px 0;font-family:'Inter',Arial,sans-serif;font-size:16px;line-height:1.6;color:#080C14;\">Hola {{ $('Validar y normalizar').item.json.nombre }}, ¡qué bueno tenerte por acá!</p><p style=\"margin:0 0 24px 0;font-family:'Inter',Arial,sans-serif;font-size:16px;line-height:1.6;color:#080C14;\">Te adjunto el material de la clase del sábado 18 de julio: <strong>Mastering AI Context</strong>.</p></td></tr><tr><td style=\"background-color:#FFFFFF;padding:0 40px 24px 40px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#080C14;border-radius:10px;\"><tr><td style=\"padding:24px 24px;\"><span style=\"display:inline-block;background-color:rgba(0,229,255,0.12);border:1px solid #00E5FF;color:#00E5FF;font-family:'Inter',Arial,sans-serif;font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;padding:5px 10px;border-radius:20px;margin-bottom:12px;\">Material de la clase</span><p style=\"margin:6px 0 10px 0;font-family:'Inter',Arial,sans-serif;font-size:22px;font-weight:800;color:#FFFFFF;line-height:1.3;\">Mastering AI Context</p><p style=\"margin:0;font-family:'Inter',Arial,sans-serif;font-size:14px;line-height:1.6;color:#94A3B8;\">Es el PDF que entregamos en vivo — cómo darle contexto real a la IA para que trabaje como si conociera tu negocio. Revisalo con calma, y si algo no te cuadra o querés aplicarlo a tu caso, traélo a la comunidad.</p></td></tr></table></td></tr><tr><td style=\"background-color:#FFFFFF;padding:0 40px 28px 40px;\"><p style=\"margin:0 0 14px 0;font-family:'Inter',Arial,sans-serif;font-size:16px;line-height:1.6;color:#080C14;\">👍🏻 La comunidad de WhatsApp, donde aviso las clases de los sábados a las 8 p.m. hora Colombia:</p><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"border-radius:8px;background-color:#00E5FF;\"><a href=\"https://chat.whatsapp.com/GaH7I3tUJtiHYAP8nvSEfh\" style=\"display:inline-block;padding:13px 26px;font-family:'Inter',Arial,sans-serif;font-size:15px;font-weight:700;color:#080C14;\">Entrar a la comunidad</a></td></tr></table></td></tr><tr><td style=\"background-color:#FFFFFF;padding:0 40px;\"><div style=\"border-top:1px solid rgba(8,12,20,0.1);\"></div></td></tr><tr><td style=\"background-color:#FFFFFF;padding:28px 40px 8px 40px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#080C14;border-radius:10px;border:1px solid rgba(0,229,255,0.35);\"><tr><td align=\"center\" style=\"padding:26px 24px;\"><p style=\"margin:0 0 8px 0;font-family:'Inter',Arial,sans-serif;font-size:17px;font-weight:800;color:#FFFFFF;line-height:1.4;\">¿Querés llevar esto a tu negocio?</p><p style=\"margin:0 0 18px 0;font-family:'Inter',Arial,sans-serif;font-size:14px;line-height:1.6;color:#94A3B8;\">Si querés implementarlo en tu negocio o preferís una asesoría personalizada 1 a 1, hablame directo por acá.</p><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"border-radius:8px;background-color:#00E5FF;\"><a href=\"https://wa.link/9v3aux\" style=\"display:inline-block;padding:13px 28px;font-family:'Inter',Arial,sans-serif;font-size:15px;font-weight:700;color:#080C14;\">Escribirle a Gabriel</a></td></tr></table></td></tr></table></td></tr><tr><td style=\"background-color:#FFFFFF;padding:28px 40px 40px 40px;\"><p style=\"margin:0 0 20px 0;font-family:'Inter',Arial,sans-serif;font-size:15px;line-height:1.6;color:#080C14;\">Si tenés dudas, respondé este correo. Lo leo yo, no un bot.</p><p style=\"margin:0;font-family:'Inter',Arial,sans-serif;font-size:15px;line-height:1.6;color:#080C14;\">Un abrazo,<br><strong>Gabriel — Upfunnel</strong></p></td></tr><tr><td align=\"center\" style=\"background-color:#080C14;padding:26px 24px;border-radius:0 0 12px 12px;\"><p style=\"margin:0;font-family:'Inter',Arial,sans-serif;font-size:12px;color:#94A3B8;letter-spacing:0.02em;\">Automatiza, reduce tu esfuerzo y potencia tus resultados.</p></td></tr></table></td></tr></table>",
        "options": {
          "attachments": "material",
          "replyTo": "gabriel@upfunnel.click"
        }
      },
      "id": "enviar-clase-0718",
      "name": "Enviar material de clase por correo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        620,
        160
      ],
      "credentials": {
        "smtp": {
          "id": "CONFIGURAR",
          "name": "SMTP Upfunnel"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "ID_DE_TU_GOOGLE_SHEET",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $('Validar y normalizar').item.json.fecha }}",
            "Nombre": "={{ $('Validar y normalizar').item.json.nombre }}",
            "WhatsApp": "={{ $('Validar y normalizar').item.json.whatsapp }}",
            "Correo": "={{ $('Validar y normalizar').item.json.correo }}",
            "Recurso": "={{ $('Validar y normalizar').item.json.recurso }}",
            "Origen": "={{ $('Validar y normalizar').item.json.origen }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "guardar-lead",
      "name": "Guardar lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "continueOnFail": true,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, mensaje: 'Listo. El material va en camino a tu correo.' }) }}",
        "options": {}
      },
      "id": "responder-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, mensaje: $json.motivo || 'Revisa los datos.' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "responder-error",
      "name": "Responder error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        660
      ]
    }
  ],
  "connections": {
    "Webhook — form de la página": {
      "main": [
        [
          {
            "node": "Validar y normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y normalizar": {
      "main": [
        [
          {
            "node": "¿Datos válidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Datos válidos?": {
      "main": [
        [
          {
            "node": "¿Es material de clase?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es material de clase?": {
      "main": [
        [
          {
            "node": "Traer material clase 18 JUL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Traer la guía (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer la guía (PDF)": {
      "main": [
        [
          {
            "node": "Enviar guía por correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar guía por correo": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer material clase 18 JUL": {
      "main": [
        [
          {
            "node": "Enviar material de clase por correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar material de clase por correo": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "instanceId": "upfunnel"
  },
  "tags": [
    {
      "name": "upfunnel"
    }
  ]
}
